<div class="form-container forgot_password_page_container">
  <form class="form" [formGroup]="formHelper.form" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="!codeSent">
      <article>
        <h2>Forgot Password</h2>
        <h3>Enter your nickname or email</h3>
      </article>

      <div class="inputs">
        <div class="input_block">
          <input
            type="text"
            placeholder="Type your nickname or email"
            formControlName="identifier"
            (input)="formHelper.onInput('identifier')"
          />
          <div *ngIf="formHelper.formSubmitted && formHelper.getClientErrorMessage('identifier')" class="error-message">
            {{ formHelper.getClientErrorMessage('identifier') }}
          </div>
        </div>
      </div>

      <button class="form-button" type="button" (click)="sendCode()">Send Code</button>
    </ng-container>

    <ng-container *ngIf="codeSent && !codeVerified">
      <article>
        <h2>Enter the 6-digit code</h2>
      </article>

      <code-input
        (codeCompleted)="formHelper.form.controls['code'].setValue($event)"
        [codeLength]="6"
        class="custom-code-input"
      ></code-input>

      <div class="timer">
        <span *ngIf="timeLeft">Time left: {{ timeLeft }}</span>
      </div>
    </ng-container>

    <ng-container *ngIf="codeVerified">
      <article>
        <h2>Set a New Password</h2>
      </article>

      <div class="inputs">
        <div class="input_block">
          <input
            type="password"
            placeholder="Enter new password"
            formControlName="password"
            (input)="formHelper.onInput('password')"
          />
          <div *ngIf="formHelper.formSubmitted && formHelper.getClientErrorMessage('password')" class="error-message">
            {{ formHelper.getClientErrorMessage('password') }}
          </div>
        </div>

        <div class="input_block">
          <input
            type="password"
            placeholder="Confirm new password"
            formControlName="confirm_password"
            (input)="formHelper.onInput('confirm_password')"
          />
          <div *ngIf="formHelper.formSubmitted && formHelper.getClientErrorMessage('confirm_password')" class="error-message">
            {{ formHelper.getClientErrorMessage('confirm_password') }}
          </div>
        </div>
      </div>

      <button class="form-button" type="submit">Reset Password</button>
    </ng-container>
  </form>
</div>




<!--<div class="form-container forgot_password_page_container" @routeAnimation>-->
<!--  <form class="form" [formGroup]="formHelper.form" (ngSubmit)="onSubmit()">-->

<!--    <ng-container *ngIf="!codeSent">-->
<!--      <article>-->
<!--        <h2>Forgot Password</h2>-->
<!--        <h3>Enter your nickname or email</h3>-->
<!--      </article>-->

<!--      <div class="inputs">-->
<!--        <div class="input_block">-->
<!--          <input-->
<!--            type="text"-->
<!--            placeholder="Type your nickname or email"-->
<!--            formControlName="identifier"-->
<!--            (input)="onInput('identifier')"-->
<!--          />-->
<!--          <div *ngIf="formHelper.formSubmitted && getClientErrorMessage('identifier')" class="error-message">-->
<!--            {{ getClientErrorMessage('identifier') }}-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <button class="form-button" type="button" (click)="sendCode()">Send Code</button>-->
<!--    </ng-container>-->

<!--    <ng-container *ngIf="codeSent && !codeVerified">-->
<!--      <article>-->
<!--        <h2>Enter the 6-digit code</h2>-->
<!--      </article>-->

<!--      <code-input-->
<!--        (codeCompleted)="onCodeCompleted($event)"-->
<!--        [codeLength]="6"-->
<!--        class="custom-code-input"-->
<!--      ></code-input>-->

<!--      <div *ngIf="!codeVerified && codeError" class="error-message">-->
<!--        {{ codeError }}-->
<!--      </div>-->
<!--    </ng-container>-->

<!--    <ng-container *ngIf="codeVerified">-->
<!--      <article>-->
<!--        <h2>Set a New Password</h2>-->
<!--      </article>-->

<!--      <div class="inputs">-->
<!--        <div class="input_block">-->
<!--          <input-->
<!--            type="password"-->
<!--            placeholder="Enter new password"-->
<!--            formControlName="password"-->
<!--            (input)="onInput('password')"-->
<!--          />-->
<!--          <div *ngIf="formHelper.formSubmitted && getClientErrorMessage('password')" class="error-message">-->
<!--            {{ getClientErrorMessage('password') }}-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="input_block">-->
<!--          <input-->
<!--            type="password"-->
<!--            placeholder="Confirm new password"-->
<!--            formControlName="confirm_password"-->
<!--            (input)="onInput('confirm_password')"-->
<!--          />-->
<!--          <div *ngIf="formHelper.formSubmitted && getClientErrorMessage('confirm_password')" class="error-message">-->
<!--            {{ getClientErrorMessage('confirm_password') }}-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <button class="form-button" type="submit">Reset Password</button>-->
<!--    </ng-container>-->
<!--  </form>-->
<!--</div>-->
