.forgot_password_page_container {
  .form {
    .custom-code-input {
      --item-height: 50px;
      --item-font-size: 20px;
      margin: 20px 0;
    }

    .form-button {
      margin-top: 20px;
      background-color: #0016df;
      color: #ffffff;
      border: none;
      border-radius: 8px;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #000ccc;
      }

      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
    }
  }
}
