<div class="form-container reset-password-container" @routeAnimation>
  <form class="form" [formGroup]="formHelper.form">
      <article class="code_article">
        <h2>Enter the 6-digit code</h2>
      </article>

      <div class="code_input_block">
        <code-input
          (codeChanged)="confirmCodeChanged($event)"
          (codeCompleted)="onCodeCompleted($event)"
          [codeLength]="6"
        ></code-input>

        <div *ngIf="formHelper.formSubmitted && formHelper.getClientErrorMessage('code')" class="error-message">
          {{ formHelper.getClientErrorMessage('code') }}
        </div>
        <div *ngIf="!formHelper.getClientErrorMessage('code') && getServerErrorMessage('code')" class="error-message">
          {{ getServerErrorMessage('code') }}
        </div>

        <div class="timer">
          <span *ngIf="timeLeft">Time left: {{ timeLeft }}</span>
        </div>


      </div>

      <article class="password_restore_article">
        <h2>Set a New Password</h2>
      </article>

      <div class="inputs">
        <div class="input_block">
          <input
            type="password"
            placeholder="Enter new password"
            formControlName="password"
            (input)="formHelper.onInput('password')"
          />
          <div *ngIf="formHelper.formSubmitted && getClientErrorMessage('password')" class="error-message">
            {{ getClientErrorMessage('password') }}
          </div>
        </div>

        <div class="input_block">
          <input
            type="password"
            placeholder="Confirm new password"
            formControlName="confirm_password"
            (input)="formHelper.onInput('confirm_password')"
          />
          <div *ngIf="formHelper.formSubmitted && getClientErrorMessage('confirm_password')" class="error-message">
            {{ getClientErrorMessage('confirm_password') }}
          </div>
        </div>
      </div>

        <button class="form-button" type="button" (click)="onSubmit()">Send Code</button>
  </form>
</div>
