<div class="container mt-4">
  <div *ngIf="allUsersList | async as users; else loading" class="text-center">
    <ng-container *ngIf="users.length > 0; else noUsers">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
        <div *ngFor="let user of users" class="col">
          <div class="card shadow-sm border-0">
            <div class="card-body text-center">
              <img
                [src]="'assets/default-avatar.png'"
                class="rounded-circle img-thumbnail mb-2"
                alt="Avatar"
                width="80"
                height="80"
              />
              <h5 class="card-title">{{ user.nickname }}</h5>
              <p class="text-muted">{{ user.username }}</p>
              <div class="d-grid gap-2">
                <button class="btn btn-outline-primary" (click)="navigateToUserInfo(user)">
                  ℹ️ Інформація
                </button>
                <button *ngIf="isAuthenticated | async" class="btn btn-outline-success" (click)="navigateToChat(user)">
                  💬 Написати
                </button>
                <button
                  *ngIf="(isAuthenticated | async) && user.friend_info === null"
                  class="btn btn-outline-info"
                  (click)="addUserToMyFriends(user.id)"
                >
                  ➕ Додати в друзі
                </button>
                <button
                  *ngIf="(isAuthenticated | async) && user.friend_info?.status === 'accepted'"
                  class="btn btn-outline-danger"
                  (click)="removeUserFromMyFriends(user.id)"
                >
                  ❌ Видалити із друзів
                </button>
                <button
                  *ngIf="(isAuthenticated | async) && user.friend_info?.status === 'pending' && user.friend_info?.offer_code"
                  (click)="cancelFriendRequest(user.friend_info?.offer_code!)"
                >
                  🔄 Скасувати запит
                </button>

                <button
                  *ngIf="(isAuthenticated | async)"
                  (click)="blockUser(user.id!)"
                >
                  Заблокувати користувача
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-template #loading>
    <div class="text-center mt-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Завантаження...</span>
      </div>
    </div>
  </ng-template>

  <ng-template #noUsers>
    <div class="alert-warning text-center mt-4">
      ❗️ Немає користувачів
    </div>
  </ng-template>
</div>
