<div class="user-list-container">
  <div *ngIf="(allUsersList | async) as users; else loading">
    <div class="user-grid">
      <div *ngFor="let user of users" class="user-card">
        <div class="user-info">
          <span class="user-id">ID: {{ user.id }}</span>
          <span class="user-nickname">Nickname: {{ user.nickname }}</span>
          <span class="user-username">Username: {{ user.username }}</span>
          <button (click)="navigateToUserInfo(user)"> Інформація </button>
          <button *ngIf="(isAuthenticated | async)"
                  (click)="navigateToChat(user)"> Написати </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading">
      Loading users...
    </div>
  </ng-template>
</div>
