<div class="chat-container">
  <aside class="chat-sidebar">
    <div class="chat-header">
      <h2 class="sidebar-title">Чати</h2>
    </div>
    <div *ngIf="(chats | async) as chatList" class="chat-list">
      <div
        *ngFor="let chat of chatList"
        class="chat-item"
        (mouseenter)="hoveredDifferentChatId = chat.chat_id"
        (mouseleave)="hoveredDifferentChatId = null"
        (click)="selectChat(chat.chat_id)"
        [ngClass]="{'active-chat': chat.chat_id === selectedChatId}"
      >
        <div class="chat-info">
          <span class="chat-users">{{ chat.chat_users }}</span>
          <span class="last-message-time">{{ chat.last_message_time | date: 'shortTime' }}</span>
          <button
            (click)="deleteChat(chat.chat_id); $event.stopPropagation()"
            *ngIf="hoveredDifferentChatId === chat.chat_id"
            class="delete-button">
            Видалити
          </button>
        </div>
      </div>
    </div>
  </aside>

  <section class="chat-content">
    <div class="chat-header">
      <div class="user-info">
        <span class="user-nickname">{{ username }}</span>
      </div>
    </div>

    <div class="chat-messages">
      <div *ngFor="let message of messages; let i = index"
           class="message-bubble"
           [ngClass]="{
              'message-sent': message.user_id === currentUserId,
              'message-received': message.user_id !== currentUserId,
              'editing-message': editedMessageId === message.message_id,
              'pinned-message': message.is_pinned
            }"
           (mouseenter)="hoveredMessageId = message.message_id"
           (mouseleave)="hoveredMessageId = null">

        <p class="message-text">
          {{ message.is_forwarded ? '(Переслано) ' : '' }}{{ message.message }}
        </p>

        <div class="message-actions">
          <button *ngIf="hoveredMessageId === message.message_id && message.user_id === currentUserId && editedMessageId !== message.message_id"
                  class="action-btn delete-btn"
                  (click)="deleteMessage(message.message_id)">
            Видалити
          </button>

          <button *ngIf="hoveredMessageId === message.message_id && message.user_id === currentUserId && editedMessageId !== message.message_id"
                  class="action-btn edit-btn"
                  (click)="editMessage(message.message_id, message.message)">
            Змінити
          </button>

          <button *ngIf="hoveredMessageId === message.message_id && !message.is_pinned"
                  class="action-btn pin-btn"
                  (click)="pinMessage(message.message_id)">
            Закріпити
          </button>

          <button *ngIf="hoveredMessageId === message.message_id"
                  class="action-btn forward-btn"
                  (click)="openForwardModal(message.message_id, message.message)">
            Переслати
          </button>
        </div>

        <span class="message-time">{{ message.timestamp | date: 'shortTime' }}</span>
        <span *ngIf="message.user_id === currentUserId"> {{ message?.['status:'] }} </span>
      </div>
    </div>

    <form [formGroup]="formHelper.form"
          (ngSubmit)="editedMessageId ? confirmEdit() : sendMessage()"
          class="chat-input-container">

      <input formControlName="message"
             placeholder="Введіть повідомлення..."
             class="message-input"
             (keydown.escape)="cancelEdit()" />

      <button *ngIf="editedMessageId"
              type="button"
              class="cancel-btn"
              (click)="cancelEdit()">
        Відмінити
      </button>

      <button type="submit"
              class="send-btn">
        {{ editedMessageId ? 'Змінити' : 'Відправити' }}
      </button>
    </form>
  </section>
</div>
