<nav>
  <button (click)="closeSidenav()" *ngIf="(isSidenavOpen | async) && width < 768">Close</button>

  <div class="user-info" *ngIf="userProfileData && (isAuthenticated | async)">
    <img [src]="userProfileData.avatar || 'assets/images/no_profile_avatar.png'" alt="Avatar" />
    <span [routerLink]="['/profile']">{{ userProfileData.username }}</span>
  </div>
  <ul>
    <li>
      <span [routerLink]="['/posts']">🏠</span>
      <span [routerLink]="['/posts']">Home</span>
    </li>
    <li>
      <span [routerLink]="['/users']">📄</span>
      <span [routerLink]="['/users']">Users</span>
    </li>
    <li>
      <span [routerLink]="['/chat']">⚙️</span>
      <span [routerLink]="['/chat']">Chats</span>
    </li>
  </ul>

  <div class="auth-buttons" *ngIf="!(isAuthenticated | async)">
    <button [routerLink]="['/auth/login']">Login</button>
    <button [routerLink]="['/auth/register']">Register</button>
  </div>

  <div class="logout-button" *ngIf="isAuthenticated | async">
    <button (click)="logout()">Logout</button>
  </div>
</nav>
