<nav>
  <button (click)="closeSidenav()" *ngIf="(isSidenavOpen | async) && width < 768">Close</button>

  <div class="user-info" *ngIf="userProfileData && (isAuthenticated | async)">
    <img [src]="getAvatarUrl()" alt="Avatar" (error)="onImageError($event)" />
    <span [routerLink]="['/profile']">{{ userProfileData.username }}</span>
  </div>
  <ul>
    <li [routerLink]="['/posts']" (click)="closeSidenav()">
      <span>🏠</span>
      <span>Home</span>
    </li>
    <li [routerLink]="['/users']" (click)="closeSidenav()">
      <span>📄</span>
      <span>Users</span>
    </li>
    <li [routerLink]="['/chat']" (click)="closeSidenav()">
      <span>⚙️</span>
      <span>Chats</span>
    </li>
    <li [routerLink]="['/projects']" (click)="closeSidenav()">
      <span>⚙</span>
      <span>projects</span>
    </li>
    <li [routerLink]="['/notifications']" (click)="closeSidenav()">
      <span>⚙</span>
      <span>notifications</span>
    </li>
  </ul>

  <div class="auth-buttons" *ngIf="!(isAuthenticated | async)">
    <button [routerLink]="['/auth/login']">Login</button>
    <button [routerLink]="['/auth/register']">Register</button>
  </div>

  <div class="logout-button" *ngIf="isAuthenticated | async">
    <button (click)="logout()">Logout</button>
  </div>
</nav>
