/* Базовий стан меню */
:host {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f0f0f0;
  overflow-y: auto;
  z-index: 1000;
  width: 70px;
  transform: translateX(-100%);
  transition: transform 0.3s ease, width 0.3s ease;
}


:host.open {
  transform: translateX(0);
  width: 250px;
}

@media (min-width: 728px) {
  :host:not(.open) {
    transform: translateX(0);
    width: 70px;
  }
}

@media (max-width: 728px) {
  :host {
    transform: translateX(-100%);
    width: 250px;
  }

  :host.open {
    transform: translateX(0);
  }
}

@supports (-o-object-fit: fill) {
  :host {
    transform: translateX(-100%);
  }

  :host.open {
    transform: translateX(0);
  }
}
