<div class="main-layout">
  <!-- Sidebar -->
  <app-pg-sidenav class="sidebar"></app-pg-sidenav>

  <!-- Content -->
  <div class="content-container">
    <app-page-container>
      <app-header *ngIf="width < 768"></app-header>
      <router-outlet></router-outlet>
    </app-page-container>
  </div>
</div>


<!--<div class="main-layout">-->
<!--  <app-pg-sidenav class="sidebar"></app-pg-sidenav>-->

<!--  <app-page-container>-->
<!--    <app-header *ngIf="width < 768"></app-header>-->
<!--    <router-outlet></router-outlet>-->
<!--  </app-page-container>-->
<!--</div>-->
