<div class="form-container request-reset-password" @routeAnimation>
  <form class="form" [formGroup]="formHelper.form">
    <article>
      <h2>Forgot Password</h2>
      <h3>Enter your email</h3>
    </article>

    <div class="inputs">
      <div class="input_block">
        <input
          type="text"
          placeholder="Type your email"
          formControlName="email"
          (input)="onInput('email')"
        />
        <div *ngIf="formHelper.formSubmitted && getClientErrorMessage('email')" class="error-message">
          {{ getClientErrorMessage('email') }}
        </div>
        <div *ngIf="!getClientErrorMessage('email') && getServerErrorMessage('email')" class="error-message">
          {{ getServerErrorMessage('email') }}
        </div>
      </div>
    </div>

    <button class="form-button" (click)="sendRequestForResetPassword()">Send Code</button>
  </form>
</div>

