<div class="profile-container">
  <ng-container *ngIf="userProfile$ | async as userProfile">

    <div class="profile-header">
      <img [src]="userProfile.avatar || 'assets/images/no_profile_avatar.png'" alt="User Avatar" class="avatar">
      <h2>{{ userProfile.username }}</h2>
      <p><strong>Нікнейм:</strong> {{ userProfile.nickname }}</p>
      <p><strong>Email:</strong> {{ userProfile.email }}</p>
      <p><strong>Роль:</strong> {{ userProfile.role }}</p>
      <p><strong>Очки поведінки:</strong> {{ userProfile.behavior_points }}</p>
    </div>

    <hr>

    <div class="profile-section">
      <h3>👤 Загальна інформація</h3>
      <ng-container *ngIf="isGeneralEditMode; else viewGeneralInfo">
        <form [formGroup]="generalProfileForm">
          <label>Аватар</label>
          <input type="file" (change)="onAvatarChange($event)">
          <img *ngIf="avatarPreview" [src]="avatarPreview" alt="img" class="avatar-preview">

          <label>Ім'я користувача</label>
          <input formControlName="username" type="text" class="form-control" placeholder="Введіть ім'я">

          <label>Стать</label>
          <input formControlName="gender" type="text" class="form-control" placeholder="Введіть стать">

          <label>День народження</label>
          <input formControlName="birthday" type="date" class="form-control">

          <label>Країна</label>
          <input formControlName="country" type="text" class="form-control" placeholder="Введіть країну">

          <label>Часовий пояс</label>
          <input formControlName="time_zones" type="text" class="form-control" placeholder="Введіть часовий пояс">

          <label>Телефон</label>
          <input formControlName="phone_number" type="text" class="form-control" placeholder="Введіть номер телефону">

          <label>Бізнес email</label>
          <input formControlName="business_email" type="email" class="form-control" placeholder="Введіть email">

          <label>Про себе</label>
          <textarea formControlName="about_me" class="form-control" placeholder="Розкажіть про себе"></textarea>

          <label>🚀 Технології</label>
          <div formArrayName="technologies">
            <div *ngFor="let techControl of technologies.controls; let i = index">
              <input [formControl]="techControl" type="text" class="form-control" placeholder="Технологія">
              <button type="button" (click)="removeTechnology(i)">➖</button>
            </div>
          </div>
          <button type="button" (click)="addTechnology()">➕ Додати технологію</button>

          <button type="button" (click)="saveGeneralProfile()" [disabled]="generalProfileForm.invalid">💾 Зберегти
          </button>
          <button type="button" (click)="cancelGeneralEditMode()">❌ Скасувати</button>
        </form>
      </ng-container>

      <ng-template #viewGeneralInfo>
        <p><strong>Ім'я користувача:</strong> {{ userProfile.username }}</p>
        <p><strong>Стать:</strong> {{ userProfile.gender }}</p>
        <p><strong>День народження:</strong> {{ userProfile.birthday || 'Не вказано' }}</p>
        <p><strong>Країна:</strong> {{ userProfile.country || 'Не вказано' }}</p>
        <p><strong>Часовий пояс:</strong> {{ userProfile.time_zones || 'Не вказано' }}</p>
        <p><strong>Телефон:</strong> {{ userProfile.phone_number || 'Не вказано' }}</p>
        <p><strong>Бізнес email:</strong> {{ userProfile.business_email || 'Не вказано' }}</p>
        <p><strong>Про себе:</strong> {{ userProfile.about_me || 'Не вказано' }}</p>
        <p><strong>🚀 Технології:</strong></p>
        <ul>
          <li *ngFor="let tech of userProfile.technologies">
            <strong>{{ tech.name }}</strong>: {{ tech.description || 'Опис відсутній' }}
          </li>
        </ul>
        <button type="button" (click)="enterGeneralEditMode()">✏️ Редагувати</button>
      </ng-template>
    </div>

    <hr>

    <div class="profile-section">
      <h3>🔗 Соціальні мережі</h3>
      <ng-container *ngIf="isEditMode; else viewMode">
        <form [formGroup]="socialsForm">
          <ul>
            <li *ngFor="let key of objectKeys(userProfile.socials ?? {})">
              <strong>{{ key | titlecase }}:</strong>
              <input [formControlName]="key" type="text" [placeholder]="'Введіть ' + key">
            </li>
          </ul>
          <button type="button" (click)="saveSocials()">💾 Зберегти зміни</button>
          <button type="button" (click)="cancelEditMode()">❌ Скасувати</button>
        </form>
      </ng-container>

      <ng-template #viewMode>
        <ul>
          <li *ngFor="let key of objectKeys(userProfile.socials ?? {})">
            <strong>{{ key | titlecase }}:</strong> {{ userProfile.socials[key] || 'Не вказано' }}
          </li>
        </ul>
        <button type="button" (click)="enterEditMode()">✏️ Редагувати</button>
      </ng-template>
    </div>

    <hr>

    <div class="profile-section">
      <h3>🎓 Освіта</h3>
      <ul>
        <li *ngFor="let edu of userProfile.education">{{ edu || 'Не вказано' }}</li>
      </ul>
    </div>

    <div class="profile-section">
      <h3>🏆 Сертифікати</h3>
      <ul>
        <li *ngFor="let cert of userProfile.certificates">{{ cert || 'Не вказано' }}</li>
      </ul>
    </div>

    <div class="profile-section">
      <h3>💼 Робота</h3>

      <ul>
        <li *ngFor="let job of userProfile.jobs">
          <strong>Компанія:</strong> {{ job.company?.name || 'Не вказано' }}<br>
          <strong>Посада:</strong> {{ job.position || 'Не вказано' }}<br>
          <strong>Дата початку:</strong> {{ job.started_at || 'Не вказано' }}<br>
          <strong>Дата завершення:</strong>
          {{ job.ended_at ? job.ended_at : 'Обіймаю цю посаду досі' }}<br>
          <strong>Опис:</strong> {{ job.description || 'Опис відсутній' }}

          <button type="button" (click)="deleteJob(job.id, job.position)">🗑️ Видалити</button>
        </li>
      </ul>

      <button *ngIf="!isAddingJob" type="button" (click)="toggleAddJob()">➕ Додати роботу</button>

      <form *ngIf="isAddingJob" [formGroup]="newJobForm">
        <label>Компанія</label>
        <input formControlName="companyName" type="text" class="form-control" placeholder="Назва компанії">

        <label>Посада</label>
        <input formControlName="position" type="text" class="form-control" placeholder="Посада">

        <label>Дата початку</label>
        <input type="date" formControlName="started_at" class="form-control" max="{{ today }}">

        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="isCurrentlyEmployed"
          />
          <label class="form-check-label">Обіймаю цю посаду досі</label>
        </div>

        <div class="mb-3">
          <label>Дата завершення</label>
          <input formControlName="ended_at" type="date" class="form-control">
        </div>

        <label>Опис</label>
        <textarea formControlName="description" class="form-control" placeholder="Опис"></textarea>

        <button type="button" (click)="saveNewJob()" [disabled]="newJobForm.invalid">💾 Зберегти</button>
        <button type="button" (click)="cancelAddJob()">❌ Скасувати</button>
      </form>
    </div>

    <hr>

    <form [formGroup]="newPasswordForm" class="security-form">
      <h3>🔑 Змінити пароль</h3>
      <label>Старий пароль</label>
      <input formControlName="current_password" type="password" class="form-control">

      <label>Новий пароль</label>
      <input formControlName="new_password" type="password" class="form-control">

      <label>Повторіть новий пароль</label>
      <input formControlName="confirm_password" type="password" class="form-control">

      <button type="button" (click)="changeProfilePassword()">🔄 Оновити пароль</button>
    </form>
  </ng-container>

  <div class="blacklist-section">
    <h3>🚫 Чорний список</h3>
    <ng-container *ngIf="blackListUsers.length > 0; else noUsers">
      <div *ngFor="let user of blackListUsers" class="blacklist-user">
        <img src="assets/images/no_profile_avatar.png" class="user-avatar" alt="User Avatar" />
        <div class="user-details">
          <span class="nickname">{{ user.blocked_user.nickname }}</span>
        </div>
        <button class="unblock-button" (click)="unblockUser(user.blocked_user.id)">🚀 Розблокувати</button>
      </div>
    </ng-container>
    <ng-template #noUsers>
      <p>🕊️ У вашому чорному списку поки немає заблокованих користувачів.</p>
    </ng-template>
  </div>
</div>
